# Merging two DataFrames

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Creating DataFrames - this approach of generating them out of
# a dictionary is rather rarely used - mostly the data is read
# from files or data bases.

# Both data frame share 4 DOI and each have entry with an DOI not found
# in the other DataFrame

doi_df_journal = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0"],
    "journal": [
        "PLoS Comput Biol",
        "JOSS",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics"]})

doi_df_first_author = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak",
        "Sparks",
        "Granger",
        "Thang",
        "Chen"]})

In [4]:
doi_df_first_author

                              DOI first_author
0    10.1371/journal.pcbi.1004668     Blischak
1             10.21105/joss.01035       Sparks
2             10.21105/joss.01006      Granger
3  10.12688/f1000research.18866.2        Thang
4       10.1186/s12859-019-3171-0         Chen

In [5]:
doi_df_journal

                              DOI             journal
0    10.1371/journal.pcbi.1004668    PLoS Comput Biol
1             10.21105/joss.01035                JOSS
2  10.12688/f1000research.18866.2            F1000Res
3      10.1038/s41598-019-52881-4             Sci Rep
4       10.1186/s12859-019-3171-0  BMC Bioinformatics

In [6]:
# Doing and default join (inner join) without specifying the
# columns used for joining. Pandas then looks for the column
# with the same title in both DataFrames

doi_df_first_author.merge(doi_df_journal)

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

In [7]:
# Default (= inner merge)
# Inner merge = return only entries that have shared 
# DOI in both DataFrames
doi_df_first_author.merge(doi_df_journal, on="DOI")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

In [8]:
# Left merge - use the left DataFrame (doi_df_first_author) as 
# reference - all of its entries are in the resulting DataFrame
# Entries that do not have a corresponding DOI in the other 
# DataFrame, get an NaN in the journal column.
doi_df_first_author.merge(doi_df_journal, on="DOI", how="left")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2             10.21105/joss.01006      Granger                 NaN
3  10.12688/f1000research.18866.2        Thang            F1000Res
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

In [9]:
# Right merge - same a the left merge but using the right DataFrame
# (doi_df_journal) as reference.
doi_df_first_author.merge(doi_df_journal, on="DOI", how="right")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3      10.1038/s41598-019-52881-4          NaN             Sci Rep
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

In [10]:
# Outer merge - all entries of both DataFrame are included and
# in case corresponding DOIs are missing the gaps are filled by
# NaN
doi_df_first_author.merge(doi_df_journal, on="DOI", how="outer")

                              DOI first_author             journal
0      10.1038/s41598-019-52881-4          NaN             Sci Rep
1       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics
2  10.12688/f1000research.18866.2        Thang            F1000Res
3    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
4             10.21105/joss.01006      Granger                 NaN
5             10.21105/joss.01035       Sparks                JOSS

In [11]:
outer_merge_df = doi_df_first_author.merge(doi_df_journal, on="DOI", how="outer")

In [12]:
outer_merge_df

                              DOI first_author             journal
0      10.1038/s41598-019-52881-4          NaN             Sci Rep
1       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics
2  10.12688/f1000research.18866.2        Thang            F1000Res
3    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
4             10.21105/joss.01006      Granger                 NaN
5             10.21105/joss.01035       Sparks                JOSS

In [13]:
outer_merge_df["first_author"].isna()

0     True
1    False
2    False
3    False
4    False
5    False
Name: first_author, dtype: bool

In [14]:
# In this way we can filter the entries that contain NaN in
# the column "first_author"
outer_merge_df[  outer_merge_df["first_author"].isna()  ]

                          DOI first_author  journal
0  10.1038/s41598-019-52881-4          NaN  Sci Rep

In [15]:
outer_merge_df[  outer_merge_df["journal"].isna()  ]

                   DOI first_author journal
4  10.21105/joss.01006      Granger     NaN

In [16]:
outer_merge_df["first_author"].isna() | outer_merge_df["journal"].isna()

0     True
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [17]:
# We can use the "|" as "OR" - in this way we can filter entries 
# that have in "first_author" or in "journal" an NaN
outer_merge_df[ outer_merge_df["first_author"].isna() | outer_merge_df["journal"].isna()  ]

                          DOI first_author  journal
0  10.1038/s41598-019-52881-4          NaN  Sci Rep
4         10.21105/joss.01006      Granger      NaN

In [18]:
outer_merge_df[outer_merge_df.isna().any(axis=1)]

                          DOI first_author  journal
0  10.1038/s41598-019-52881-4          NaN  Sci Rep
4         10.21105/joss.01006      Granger      NaN

## List comprehension (als Teil der funktionale Programmierung)

In [19]:
# Assuming we have a of value
numbers = [4, 9, 7, 1, 3]

In [20]:
# ... and want to do something like multiplying each value by 2.
# We can use a for loop to iterate throug the list and do the operation
for number in numbers:
    print(number * 2)

8
18
14
2
6

In [21]:
# If we do not want to print the result put store them again as
# list we can with our current knowledge to the follwing:

# Create a new list ...
double_values = []

# ... interate through first list and append the result to the result list
for number in numbers:
    double_values.append(number * 2)

In [22]:
double_values

[8, 18, 14, 2, 6]

In [23]:
# With list comprehension this can be done more elegently in one step:
double_values = [number * 2 for number in numbers]

In [24]:
double_values

[8, 18, 14, 2, 6]

# pandas' apply method

Here we look at the method "apply" that pandas DataFrame and Series offer. This can be used to apply a function to each cell of a DataFrame / Series.

In [25]:
# Generating an example DataFrame
doi_df_first_author_2 = pd.DataFrame({
    "DOIs": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak J.",
        "Sparks Adam H.",
        "Granger Nicolas",
        "Thang",
        "Chen Danze"]})

In [26]:
doi_df_first_author_2

                             DOIs     first_author
0    10.1371/journal.pcbi.1004668      Blischak J.
1             10.21105/joss.01035   Sparks Adam H.
2             10.21105/joss.01006  Granger Nicolas
3  10.12688/f1000research.18866.2            Thang
4       10.1186/s12859-019-3171-0       Chen Danze

In [27]:
# String have the split method that can be use to split a string into 
# a list of strings
"Sparks Adam H.".split(" ")

['Sparks', 'Adam', 'H.']

In [28]:
"Sparks Adam H.".split("a")

['Sp', 'rks Ad', 'm H.']

In [29]:
split_by_a = "Sparks Adam H.".split("a")

In [30]:
fixed_split_by_a = [word + "a" for word in split_by_a]

In [31]:
fixed_split_by_a

['Spa', 'rks Ada', 'm H.a']

In [32]:
"\n"

'\n'

In [33]:
"\n" == True

False

In [34]:
fixed_split_by_a = [word + "a" for word in split_by_a[:-1]] + [split_by_a[-1]]

In [35]:
fixed_split_by_a

['Spa', 'rks Ada', 'm H.']

### Writing functions

So have we have just used function. No we write one ourselves:

In [55]:
# Here we define a  function ...
def split_string():
    print("Sparks Adam H.".split(" "))

In [56]:
# ... and here we call it and get its output
split_string()

['Sparks', 'Adam', 'H.']

In [38]:
# We rewrite the function to be more flexible and to take an 
# argument "my_string". This argument can be used  as variable 
# inside of the function

def split_string(my_string):
    print(my_string.split(" "))

In [39]:
# When we call the function now without a argument
# we get an error as the function expects this
# argument
split_string()

TypeError: split_string() missing 1 required positional argument: 'my_string'

In [40]:
# It works if we give a string as argument
split_string("Sparks Adam H.")

['Sparks', 'Adam', 'H.']

In [41]:
# Instead of printing the output we can use "return" to
# return the value.
def split_string(my_string):
    return my_string.split(" ")

In [42]:
split_string("Sparks Adam H.")

['Sparks', 'Adam', 'H.']

In [43]:
# The result of the function call can be stored in a variable
my_split_string = split_string("Sparks Adam H.")

In [44]:
my_split_string

['Sparks', 'Adam', 'H.']

In [45]:
def split_string(my_string):
    return my_string.split(" ")[0]

In [46]:
split_string("Sparks Adam H.")

'Sparks'

In [47]:
# Now we defin another function to split a string and just return the first element
# of the resulting list
def last_name_only(name):
    return name.split(" ")[0]

In [48]:
last_name_only("Blischak J.")

'Blischak'

In [49]:
last_name_only("Sparks Adam H.")

'Sparks'

In [50]:
doi_df_first_author_2["first_author"]

0        Blischak J.
1     Sparks Adam H.
2    Granger Nicolas
3              Thang
4         Chen Danze
Name: first_author, dtype: object

In [51]:
# We can apply this function to each cell of the Series "first_authos" 
# by giving the function as argument to apply. 
# It return a new Series with the resulting values
doi_df_first_author_2["first_author"].apply(last_name_only)

0    Blischak
1      Sparks
2     Granger
3       Thang
4        Chen
Name: first_author, dtype: object

In [52]:
# We can store the Series as new column in the DataFrame
doi_df_first_author_2["Cleaned_first_author"] = doi_df_first_author_2["first_author"].apply(last_name_only)

In [53]:
doi_df_first_author_2

                             DOIs     first_author Cleaned_first_author
0    10.1371/journal.pcbi.1004668      Blischak J.             Blischak
1             10.21105/joss.01035   Sparks Adam H.               Sparks
2             10.21105/joss.01006  Granger Nicolas              Granger
3  10.12688/f1000research.18866.2            Thang                Thang
4       10.1186/s12859-019-3171-0       Chen Danze                 Chen